/***** Everything *****/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/***** Main container *****/
#container {
    width: 700px;
    margin: auto;
    border-left: 1px solid #5E747F;
    border-right: 1px solid #5E747F;
    /* padding: 0px 20px; */
    /* background-color: #D2D0BA; */
}

.addMarginLR {
    margin: 0px 20px;
}

/***** Header section *****/
header {
    color: #5E747F;
}

/***** Navigation bar *****/
nav {
    background-color: rgb(255, 245, 238);
    /* padding: 1px 0; */
    text-align: center;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0 40px;
}

nav a {
    text-decoration: none;
}

/* Before click */
nav a:link {
    color: #000;
}

/* After click */
nav a:visited {
    color: #818db3;
}

/* Mouse over */
nav a:hover {
    color: #333;
}

/* Mouse on-click */
nav a:active {
    color: #753a30;
}

/***** Main image on each page *****/
#main_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/***** List of available animals *****/
#adoptlist {
    padding: 0;
}

#adoptlist li {
    display: block;
    list-style-type: none;
    margin: 5px 0;
}

#adoptlist li p {
    display: inline;
}

/***** Adoption fee section *****/
#fee_section {
    border-top: 1px dotted black;
}

/* Fee table */
#fee_section table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
    /* border: 1px solid black; */
}

/* Fee table th */
#fee_section table th {
    text-align: center;
    border: 1px solid black;
}

/* Fee table td */
#fee_section table td {
    text-align: center;
    border: 1px solid black;
}

/****** Footer section ******/
#footer {
    border-top: 1px dotted black;
    margin-top: 40px;
}

/****** Contact form ******/
form {
    margin-top: 20px;
}

form div {
    padding: 10px 0;
}

#contactInput * {
    display: block;
}

#contactInput input[type="text"] {
    width: 340px;
}

/****** Gallery ******/
#photoList {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#photoList li {
    list-style-type: none;
    display: inline-block;
}

.caption {
    display: block;
    text-align: center;
    font-size: small;
}

.description {
    border: 1px solid black;
    position: relative;
    bottom: 90px;
    left: 37px;
    padding: 20px;
    font-size: smaller;
    opacity: 0;
}

.description:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    opacity: 1;
}

#gallery img {
    width: 200px;
    margin: 5px;
}

#gallery img:hover {
    cursor: pointer;
}

#infoBox {
    background-color: rgba(33, 33, 33, 0.9);
    color: white;
    width: 400px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    position: absolute;
    border-radius: 5%;
    top: 50%;
    left: 35%;
    z-index: 10;
}

#closeBtn:hover {
    cursor: pointer;
    font-weight: bold;
}